#section9-header {
    border-left: solid 2px #005244;
}

#section9-text-two {
    top: 53%;
}

#section9-text-three {
    top: 58%;
}

#section9-text-four {
    top: 63%;
}

#section9-text-five {
    top: 72%;
}
