<div class="dv-credits section">
    <div class="text-section--container">
        <h2 class="text-section--container-header section-header"></h2>
        <div class="text-section--container-text">
            <p class="text-section--container-text--one"></p>
            <p class="text-section--container-text--two"></p>
            <p class="text-section--container-text--three"></p>
            <p class="text-section--container-text--four"></p>
            <p class="text-section--container-text--five"></p>
        </div>
    </div>
</div>