<div class="text-section--container section fp-auto-height" id="section8-container">
    <h2 class="section-header" id="section8-header"></h2>
    <p class="section-text" id="section8-text"></p>
</div>
