.scatterplot-container {
    .scatterplot-container-charts {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        display: block;
        box-sizing: border-box;

        @media (min-width: 1440px) {
            width: 57%;
        }

        &--title {
            border-left: solid 2px #01556a;
            padding: 0 0 0 0.5rem;
            font-size: 1.1rem;
            font-weight: 600;
            margin: 0.5rem 0;
        }

        &--description {
            font-size: 0.8rem;
            margin: 0 0 0.25rem 0;
        }

        &--chart {
            background-color: #fff;
            padding: 0.6em;
            width: 100%;
            max-width: inherit;
            box-sizing: border-box;
        }

        &--description-two {
            font-size: 0.8rem;
        }
    }

    .form-campus {
        position: relative;
        background-color: #fff;
        border: 1px solid #eaeaea;
        margin-bottom: 0.25rem;
        display: inline-block;
        width: 58%;

        select {
            font-size: 1rem;
            font-weight: 200;
            width: 100%;
            padding: 8px 24px 8px 10px;
            border: none;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }

            @media (min-width: 1800px) {
                font-size: 1.2em;
            }
        }

        &:after {
            content: " ";
            top: 50%;
            margin-top: -2px;
            right: 8px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #aaa;
            position: absolute;
        }
    }

    &> div:first-child {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@each $campus, $colour in $campus-colours {
    .title-#{$campus} {
        color: $colour;
        font-weight: 600;
    }

    .dot-#{$campus} {
        height: 0.5rem;
        width: 0.5rem;
        background-color: $colour;
        border-radius: 50%;
        display: inline-block;
    }

    .container--#{$campus} path {
        stroke: $colour;
    }

    .container--#{$campus} .dot {
        fill: $colour;
        opacity: 0.35;
    }
}

.scatter-plot--svg {
    max-width: 100%;
}

.y-axis .tick line,
.x-axis .tick line {
    stroke: #6e6e73;
    stroke-width: 1px;
}

.x-axis .domain {
    stroke: #6e6e73;
    stroke-width: 1px;
}

.y-axis .domain {
    display: none;
}

svg text {
    font-size: 1rem;
    fill: #6e6e73;
}

.x-axis .tick:first-of-type {
    display: none;
}
