#scatterplot-container {
    height: 2050px !important;

    @media (min-width: 1440px) {
        height: 2080px !important;
    }

    @media (min-width: 1800px) {
        height: 1600px !important;
    }

    .scatter-plot {
        width: 60%;
        float: left;

        @media (min-width: 1440px) {
            width: 57%;
        }
    }

    .form-campus-container {
        display: inline-block;
    }
}

#navWrap {
    height: 70px
}

#navwrapitem {
    width: 40%;
    visibility: hidden;
    text-align: center;
    display: inline-block;

    #navwrapitem-text {
        width: 81%;
        margin: 0 auto;

        @media (min-width: 1800px) {
            font-size: 1.2em;
        }
    }
}

.right-text-title {
    @media (min-width: 1800px) {
        font-size: 2em;
    }
}

#scatterplot-title {
    width: 100%;
    font-size: 1em;
    margin: 0;

    @media (min-width: 1800px) {
        font-size: 1.5em;
    }
}

.scatter-plot--svg {
    margin: 5px;
}

.form-campus {
    position: relative;
    background-color: #fff;
    width: auto;
    max-width: 36%;
    border: 1px solid #eaeaea;
    margin: 0 auto;

    @media (min-width: 1440px) {
        max-width: 35%;
    }

    select {
        font-size: 1rem;
        font-weight: 200;
        max-width: 100%;
        padding: 8px 24px 8px 10px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }

        @media (min-width: 1800px) {
            font-size: 1.2em;
        }
    }

    &:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #aaa;
    }
}
