<div class="scatterplot-container section fp-auto-height" id="scatterplot-container">
    <div class="form-campus-container" id="navWrap">
        <nav id="navwrapitem">
            <h2 class="right-text-title" id="scatterText-title"></h2>
            <p id="navwrapitem-text"></p>
            <label class="dropdownList-label" for="campus-select"></label>
            <div class="form-campus"></div>
        </nav>
    </div>
    <div class="scatter-plot">
        <h2 id="scatterplot-title"></h2>
    </div>
</div>
