<div class="scatterplot-container">
    <h2 id="scatterplot-title"></h2>
    <label id="dropdownList-label" for="campus-select"></label>
    <div class="form-campus"></div>
    <div class="scatter-plot"></div>
</div>
