<div class="scatterplot-container section">
    <div class="scatterplot-container-charts">
        <h2 class="scatterplot-container-charts--title"></h2>
        <p class="scatterplot-container-charts--description"></p>
        <label class="dropdownList-label" for="campus-select"></label>
        <div class="form-campus"> </div>
        <div class="scatterplot-container-charts--chart"></div>
        <p class="scatterplot-container-charts--description-two"></p>
    </div>
</div>