<div class="scatterplot-container">
    <h2 id="scatterplot-title">Scatterplot showing the relationship between module attendance and marks for courses based in <span id="campusName">Cavendish Campus</span></h2>
    <label for="campus-select"> Select campus </label>
    <div class="form-campus">
        <select id="campus-select">
        </select>
    </div>
    <div class="scatter-plot">
    </div>
    <div id="legend">
    </div>
</div>
