<div class="dv-scatterplot-container section">
    <div class="dv-scatterplot-container-charts">
        <h2 class="dv-scatterplot-container-charts--title section-header"></h2>
        <p class="dv-scatterplot-container-charts--description"></p>
        <div class="dv-scatterplot-container-charts--dropdown">
            <label class="dropdownList-label" for="campus-select"></label>
            <div class="form-campus"></div>
        </div>
        <div class="dv-scatterplot-container-charts--chart"></div>
        <p class="dv-scatterplot-container-charts--description-two"></p>
    </div>
</div>