<div class="scatterplot-container section fp-auto-height" id="scatterplot-container">
    <div class="form-campus-container" id="navWrap">
        <nav id="navwrapitem">
            <h2 class="right-text-title">Attendance and Performance</h2>
            <p id="navwrapitem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed risus. Morbi leo urna molestie at elementum eu facilisis sed odio. Suspendisse faucibus interdum posuere lorem. Odio facilisis mauris sit amet massa vitae. Eu sem integer vitae justo eget magna fermentum iaculis eu. Consectetur libero id faucibus nisl. Posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Ut faucibus pulvinar elementum integer enim. Pharetra convallis posuere morbi leo urna molestie. Vel orci porta non pulvinar. Ut diam quam nulla porttitor massa id neque aliquam.
            </p>
            <label class="dropdownList-label" for="campus-select"></label>
            <div class="form-campus"></div>
        </nav>
    </div>
    <div class="scatter-plot">
        <h2 id="scatterplot-title"></h2>
    </div>
</div>
