<div class="donut-charts-container section fp-auto-height" id="donut--container">
    <h2 class="donut-charts-container--title"></h2>
    <div class="donut-radio-buttons-container"></div>
    <div id="donut-charts"></div>
    <div id="donut-legend"></div>
</div>
