#donut--container {
    position: relative;

    .donut-radio-buttons-container {
        .donut-class-radio {
            margin: 5px 0;

            &.donut-class-radio-inline {
                display: inline-block;
            }
        }
    }

    #donut-legend {
        .donut-chart-legend--items {
            display: inline-block;

            .donut-chart-legend--text {
                display: inline-block;
                margin-right: 10px;
            }

            &:last-child .donut-chart-legend--text:after {
                content: " *";
            }
        }
    }
}
