<div class="prediction-container section fp-auto-height" id="predict-container">
    <div class="prediction-options-container">
            <h2 class="right-text-title">What grade will you get?</h2>
            <p id="predict-explain-text">Based on the results for the average module marks against average module attendance by students in your course, the following graph shows what your likely grade will be in comparison to your attendance.
            </p>
            <div id="prediction-dropdownDegreeType">
                <label class="dropdownList-label" for="select-degreeType"></label>
                <div class="degreeType-select-form" id="form-degree-select"></div>
            </div>
            <div id="prediction-dropdownCourse">
                <label class="dropdownList-label" for="select-course"></label>
                <div class="course-select-form" id="form-course-select"></div>
            </div>
            <div id="prediction-sliderPercAtten">
                <label class="dropdownList-label" for="slider-range"></label>
                <div class="perc-select-form"></div>
            </div>
            <p id="perct-slider-value"></p>
            <p id="predict-average-mark"></p>
    </div>
    <div class="small-scatter-plot">
        <h2 id="small-scatterplot-title"></h2>
    </div>
</div>
