<div class="dv-prediction-container section">
    <div class="dv-prediction-container-form">
        <h2 class="dv-prediction-container-form--title section-header"></h2>
        <p class="dv-prediction-container-form--description"></p>
        <div class="dv-prediction-container-form--dropdown dropdown-degree">
            <label class="dropdownList-label" for="select-degreeType"></label>
            <div class="degreeType-select-form" id="form-degree-select"></div>
        </div>
        <div class="dv-prediction-container-form--dropdown dropdown-course">
            <label class="dropdownList-label" for="select-course"></label>
            <div class="course-select-form" id="form-course-select"></div>
        </div>
        <div class="dv-prediction-container-form--chart"></div>
        <label class="prediction-slider-label" for="slider-range"></label>
        <div id="prediction-sliderPercAtten">
            <p id="perct-slider-value"></p>
            <div class="perc-select-form"></div>
        </div>
        <p id="predict-average-mark"></p>
    </div>
</div>
