<div class="prediction-container section fp-auto-height" id="predict-container">
    <div class="prediction-options-container">
            <h2>What grades will you get</h2>
            <p id="predict-explain-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed risus. Morbi leo urna molestie at elementum eu facilisis sed odio. Suspendisse faucibus interdum posuere lorem. Odio facilisis mauris sit amet massa vitae. Eu sem integer vitae justo eget magna fermentum iaculis eu. Consectetur libero id faucibus nisl. Posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar.
            </p>
            <div id="prediction-dropdownDegreeType">
                <label class="dropdownList-label" for="select-degreeType"></label>
                <div class="degreeType-select-form"></div>
            </div>
            <div id="prediction-dropdownCourse">
                <label class="dropdownList-label" for="select-course"></label>
                <div class="course-select-form"></div>
            </div>
            <div id="prediction-sliderPercAtten">
                <label class="slide-label" for="slider-range"></label>
                <div class="perc-select-form"></div>
            </div>
            <p id="perct-slider-value"></p>
            <p id="predict-average-mark"></p>
    </div>
    <div class="small-scatter-plot">
        <h2 id="small-scatterplot-title"></h2>
    </div>
</div>
