<div class="waffle-chart-container section fp-auto-height" id="waffle-container">
    <div class="full-outer-container">
        <div class="full-inner-container">
            <div class="top-text-container">
                <div class="radio-buttons-container">
                    <label class="dropdownList-label radio-label-text" for="radio-class"></label>
                </div>
                <div class="right-text-container">
                    <h2 class="right-text-title">Accomodation type of students</h2>
                    <p id="waffle-explain-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed risus. Morbi leo urna molestie at elementum eu facilisis sed odio. Suspendisse faucibus interdum posuere lorem. Odio facilisis mauris sit amet massa vitae. Eu sem integer vitae justo eget magna fermentum iaculis eu. Consectetur libero id faucibus nisl. Posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar.</p>
                </div>
            </div>
            <div class="bottom-chart-container" id="bottom-chart-container-waffle">
                <h2 class="waffle-chart-container--title"></h2>
                <div id="waffle-charts">
                    <div id="legend"></div>
                    <p id="moreInfo"></p>
                </div>
            </div>
        </div>
    </div>
</div>
