<div class="waffle-chart-container section" id="waffle-container">
    <div class="full-outer-container">
        <div class="full-inner-container">
            <div class="top-text-container">
                <div class="radio-buttons-container">
                    <p class="dropdownList-label radio-label-text" for="radio-class"></p>
                </div>
                <div class="right-text-container">
                    <h2 class="right-text-title" id="waffleText-title"></h2>
                    <p id="waffle-explain-text"></p>
                </div>
            </div>
            <div class="bottom-chart-container" id="bottom-chart-container-waffle">
                <h2 class="waffle-chart-container--title"></h2>
                <div id="waffle-charts">
                    <div id="legend"></div>
                </div>
                <p id="moreInfo"></p>

            </div>
        </div>
    </div>
</div>
