#waffle-container {
    .radio-buttons-container {
        display: inline-block;
        width: 48%;

        .class-radio,
        .radio-label-text {
            display: block;
            margin: 0 auto 10px;
            width: 30%;

            @media (min-width: 1700px) {
                font-size: 1.3em;
                margin: 0 auto 15px;
            }
        }
    }

    p#waffle-explain-text {

        @media (min-width: 1700px) {
            font-size: 1.3em;
        }
    }

    .bottom-chart-container {
        margin-top: 30px;

        h2.waffle-chart-container--title {
            font-size: 1em;
        }

        #waffle-charts {
            position: relative;

            svg.waffle {
                display: inline-block;
                margin: 5px;
            }

            #legend {
                display: inline-block;
                position: absolute;
                top: 70px;
                right: 0px;
                font-size: 0.8em;
            }

            .waffle-chart-legend--items {
                margin-bottom: 5px;

                .waffle-chart-legend--text {
                    display: inline-block;
                    margin-right: 10px;
                }

                &:last-child .waffle-chart-legend--text:after {
                    content: " *";
                }
            }

            @media (min-width: 1700px) {
                top: 150px;
                right: -135px;
            }
        }
    }

    p#moreInfo {
        font-size: 0.7em;
    }

    div.tooltip {
        position: absolute;
        text-align: left;
        width: 90px;
        padding: 6px;
        font: 1.4rem sans-serif;
        background: white;
        border: 1px solid lightgrey;
        pointer-events: none;
        opacity: 0.5;
    }

}
