#waffle-container {
    div.tooltip {
        position: absolute;
        text-align: left;
        width: 90px;
        padding: 6px;
        font: 1.4rem sans-serif;
        background: white;
        border: 1px solid lightgrey;
        pointer-events: none;
        opacity: 0.5;
    }

    #waffle-charts {
        .waffle {
            margin: 10px;
        }
    }

    #legend {
        .waffle-chart-legend--items {
            display: inline-block;
        }

        .waffle-chart-legend--text {
            display: inline-block;
            margin-right: 10px;
        }

        &:last-child .waffle-chart-legend--text:after {
          content: " *";
        }
    }

    .class-radio {
        margin: 5px 0;

        &.class-radio-inline {
            display: inline-block;
        }
    }

}
