<div class="waffle-chart-container">
    <h2 class="waffle-chart-container--title"></h2>
    <div class="radio-buttons-container"></div>
    <div id="waffle-charts"></div>
    <div id="legend"></div>
    <p id="moreInfo"></p>
</div>
