.dv-horizontal {
    .dv-horizontal-container {
        width: 100%;
        overflow: hidden;
        display: block;
        box-sizing: border-box;

        @media (min-width: 560px) {
            width: 45%;
        }

        &--title {
            border-left: solid 2px #a6c766;
        }

        &--description {
            font-size: 0.8rem;

            @media (min-width: 370px) {
                font-size: 1rem;
            }

            @media (min-width: 560px) {
                font-size: 1.2rem;
                line-height: 1.8rem;
            }
        }

        &--keys {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            color: #222;

            .key-item {
                text-align: left;
                width: fit-content;
                font-weight: 600;
                font-size: 0.8rem;
                padding: 0 0.3rem;
                
                @media (min-width: 370px) {
                    font-size: 1rem;
                }
            }

            .dv-horizontal-container--keys-Attendance.key-item {
                background-color: #ec7357;
            }

            .dv-horizontal-container--keys-CommuteLength.key-item {
                background-color: #a6c766;
            }
        }

        .dv-horizontal-container--chart {
            width: 100%;

            .horizontal-chart-container--chart {
                .horizontal-chart-container--title {
                    margin: 24px 0 5px;
                    font-size: 1rem;
                }
            }

            .bar-chart_container {
                display: block;
                margin-bottom: 5px;

                @media (min-width: 560px) {
                    margin-bottom: 1rem;
                }

                p.bar-chart_label {
                    margin: 0 0 4px;
                    font-size: 0.8rem;
                    font-weight: 600;

                    @media (min-width: 560px) {
                        font-size: 1rem;
                    }    
                }

                .bar-chart_barContainer {
                    height: 19px;
                    // display: inline-block;
                    width: 100%;
                    background-color: #ebebeb;
                    position: relative;

                    .bar-chart_bar {
                        height: 19px;
                        display: inline-block;
                        -webkit-transition: width 0.8s;
                        transition: width 0.8s;
                        transition-timing-function: ease-out;
                    }

                    .bar-tooltiptext {
                        align-self: center;
                        position: absolute;
                        font-size: 0.8em;
                        height: 19px;
                        width: 80px;
                        color: #222;
                        font-weight: 600;
                        margin-left: 0.25rem;
                        display: inline-block;
                    }
                }
            }
        }
    }

    & > div:first-child {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
