<div class="horizontal-chart-container section fp-auto-height" id="horizchart-container">
    <div class="form-campus-container" id="navWrap">
        <nav id="navwrapitem">
            <label class="dropdownList-label" for="campus-select"></label>
            <div class="form-campus"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed sed risus. Morbi leo urna molestie at elementum eu facilisis sed odio. Suspendisse faucibus interdum posuere lorem. Odio facilisis mauris sit amet massa vitae. Eu sem integer vitae justo eget magna fermentum iaculis eu. Consectetur libero id faucibus nisl. Posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Ut faucibus pulvinar elementum integer enim. Pharetra convallis posuere morbi leo urna molestie. Vel orci porta non pulvinar. Ut diam quam nulla porttitor massa id neque aliquam.

                Ullamcorper velit sed ullamcorper morbi tincidunt ornare. Viverra justo nec ultrices dui sapien eget mi. Neque egestas congue quisque egestas diam. Tristique senectus et netus et malesuada. Tincidunt ornare massa eget egestas purus viverra accumsan. Integer eget aliquet nibh praesent tristique magna. Cras fermentum odio eu feugiat pretium. Nec tincidunt praesent semper feugiat nibh sed. Etiam erat velit scelerisque in dictum non. Faucibus purus in massa tempor nec feugiat. Vestibulum lectus mauris ultrices eros in. Aliquet enim tortor at auctor urna. Accumsan lacus vel facilisis volutpat est velit. Semper quis lectus nulla at volutpat. Consequat ac felis donec et odio pellentesque diam volutpat. Senectus et netus et malesuada fames ac turpis egestas. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Est pellentesque elit ullamcorper dignissim.
            </p>
        </nav>
    </div>
    <div class="horiz-chart-container"></div>
</div>
