<div class="horizontal-chart-container section fp-auto-height" id="horizchart-container">
    <div class="horz-text-container" id="navWrapHoriz">
        <nav id="navwrapitemHoriz">
            <h2 class="right-text-title" id="horizText-title"></h2>
            <p id="navwrapitemHoriz-text"></p>
        </nav>
    </div>
    <div class="horiz-chart-container"></div>
</div>
