<div class="horizontal-chart-container">
    <div id="title">
    </div>
    <div id="horizontal-charts">
    </div>
</div>

<div class="bar-chart-section-container">
    <h2 class="bar-chart-section-container--title">Top 10 courses by average module marks</h2>
    <div class="bar-chart-section-container--chart"></div>
</div>
