<div class="dv-horizontal section">
    <div class="dv-horizontal-container-form">
        <h2 class="dv-horizontal-container-form--title section-header"></h2>
        <p class="dv-horizontal-container-form--description"></p>
        <div class="dv-horizontal-container-form--dropdown dropdown-degree-commute">
            <label class="dropdownList-label" for="select-degreeType-commute"></label>
            <div class="degreeType-select-form-commute" id="form-degree-select-commute"></div>
        </div>
        <div class="dv-horizontal-container-form--dropdown dropdown-course-commute">
            <label class="dropdownList-label" for="select-course-commute"></label>
            <div class="course-select-form-commute" id="form-course-select-commute"></div>
        </div>
        <div class="dv-horizontal-container-form--chart"></div>
        <p class="dv-horizontal-container-form--description-two"></p>
        <div class="dv-horizontal-container-form--buttons"></div>
    </div>
</div>