$campus-colours: (
    CavendishCampus: #a6c766,
    HarrowCampus: #ec7357,
    MaryleboneCampus: #debade,
    RegentCampus: #aaabbc,
);

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
@import "../node_modules/fullpage.js/dist/fullpage.css";
@import "./components/introduction/introduction.scss";
@import "./components/scatter-chart/scatter-chart.scss";
@import "./components/predict-grades/predict-grades.scss";
@import "./components/horizontal-chart/horizontal-chart.scss";
@import "./components/methodology/methodology.scss";
@import "./components/conclusion/conclusion.scss";
@import "./components/credits/credits.scss";

body {
    background-color: #1c3144;
}

.dv-main-content--container {
    -webkit-backface-visibility: hidden;
    background-color: #1c3144;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    padding: 0.8rem;

    .dv-title-container {
        &--title {
            font-size: 1.3rem;
            width: 100%;
            padding: 0 0 0 0.5rem;
            font-weight: 500;
            text-align: left;
            border-left: solid 2px #a6c766;

            @media (min-width: 370px) {
                font-size: 1.5rem;
            }

            @media (min-width: 560px) {
                font-size: 3rem;
                width: 52.9%;
                line-height: 4rem;
                padding: 0 0 0 1rem;
            }
        }

        &--cta {
            font-size: 0.8rem;
            font-weight: 600;
            margin: 2rem 0 1rem;

            @media (min-width: 560px) {
                margin: 5rem 0 1rem;
                font-size: 1.2rem;
            }
        }

        &--chevron {
            width: 40px;
            margin: 0 0 2rem;

            @media (min-width: 560px) {
                width: 50px;
            }
        }

        & > div:first-child {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }

    .section-header {
        padding: 0 0 0 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        margin: 0.5rem 0;

        @media (min-width: 560px) {
            font-size: 2rem;
            padding: 0 0 0 1rem;
        }
    }

    a {
        border-bottom: solid 1px #a6c766;
        text-decoration: none;
        font-weight: 600;
        color: #fff;
    }

    .fp-section {
        -webkit-transform: translate3d(0, 0, 0);
    }

    stop {
        animation: colors 2s ease-out infinite;
    }
    stop:nth-child(2) {
        animation-delay: 0.5s;
    }
    @keyframes colors {
        0% {
            stop-color: #fff;
        }
        25% {
            stop-color: #c0c6cb;
        }
        50% {
            stop-color: #657380;
        }
        75% {
            stop-color: #c0c6cb;
        }
        100% {
            stop-color: #fff;
        }
    }

    .bounce {
        animation: bounce 2s ease-out infinite;
    }

    @keyframes bounce {
        0%,
        25%,
        50%,
        75%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-12px);
        }
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
