<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style>
        .usermessage-container {
            background: #EBEBEB;
            float: left;
            width: 100%;
            text-align: center;
        }

        p.usermessage {
            font-size: 18px;
            line-height: 1.6em;
            color: #282828;
            padding: 0;
            font-weight: 100;
            -webkit-font-smoothing: antialiased;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <div class="usermessage-container" id="mobile-compatible" style="display:none">
        <p class="usermessage" id="mobile-compatible-message">Sorry, this project has not yet been optimised for your device!</p>
    </div>
    <div class="main-content--container" id="fullpage" style="display:none">
        <div class="title-container section fp-auto-height">
            <h1 class="title-container--title"></h1>
        </div>
        {{>./components/section-two/section-two}}
        {{>./components/scatter-chart/scatter-chart}}
        <div id="stopHere"></div>
        {{>./components/predict-grades/predict-grades}}
        {{>./components/donut-chart/donut-chart}}
        {{>./components/horizontal-chart/horizontal-chart}}
        <div id="stopHereHoriz"></div>
        {{>./components/waffle-chart/waffle-chart}}
        {{>./components/section-eight/section-eight}}
        {{>./components/section-nine/section-nine}}
    </div>
    <script>
        document.querySelector('.main-content--container').style.display = 'block';
    </script>
</body>

</html>
