<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <p>This is not very interesting</p>
    <!--[if lt IE 9]-->
<body>
</body>
</html>
